node_modules
**/node_modules
dist
**/dist
dist-electron
build
release
out
.git
.gitignore
.env
.env.local
.env.production
*.log
*.dmg
*.blockmap
*.zip
.turbo
.npm
nixpacks.toml
render.yaml
docker-compose.yml
